.fieldset
{
    border: 1px solid #ddd;
    padding: 0 1em 0 1em;
    margin: 0 0 1.5em 0;
}

.legend
{
    font-size: 1.2em;
    font-weight: bold;
}

.ui-autocomplete
{
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete
{
    height: 100px;
}

.lblTittle
{
    font-size: 20pt !important;
    font-weight: bolder !important;
    color: #376092;
}
